<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ConsoleApp1.Properties.Settings.EMCCNConnectionString"
            connectionString="Data Source=JB-JACKY\SQLEXPRESS;Initial Catalog=EMCCN;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAttendanceService1" />
                <binding name="BasicHttpsBinding_IAttendanceService1">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IAttendanceService" />
                <binding name="BasicHttpsBinding_IAttendanceService">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_ISalaryService" />
                <binding name="BasicHttpsBinding_ISalaryService">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_ISalaryService1" />
                <binding name="BasicHttpsBinding_ISalaryService1">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_ISalaryService2" />
                <binding name="BasicHttpsBinding_ISalaryService2">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:34941/AttendanceService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAttendanceService"
                contract="ServiceReference1.IAttendanceService" name="BasicHttpBinding_IAttendanceService" />
            <endpoint address="http://localhost:34941/SalaryService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISalaryService"
                contract="desktopSalaryService.ISalaryService" name="BasicHttpBinding_ISalaryService" />
            <endpoint address="http://192.168.1.46/JbhrServiceEMCCN/AttendanceService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAttendanceService1"
                contract="JbhrServiceCNReference46.IAttendanceService" name="BasicHttpBinding_IAttendanceService1" />
            <endpoint address="http://localhost:34941/SalaryService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISalaryService2"
                contract="SalaryService.ISalaryService" name="BasicHttpBinding_ISalaryService2" />
            <endpoint address="http://192.168.1.46/JbhrServiceEMCCN/SalaryService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISalaryService1"
                contract="SalaryService46.ISalaryService" name="BasicHttpBinding_ISalaryService1" />
        </client>
    </system.serviceModel>
</configuration>